@model List<Avaliacao>

@{
    ViewData["Title"] = "Avaliação";
}

<h1>Avaliações</h1>

<mensagem mensagem="@TempData["msg"]"></mensagem>

<table class="table table-striped">
    <tr>
        <th>Nota</th>
        <th>Comentário</th>
    </tr>
    @foreach(var a in Model)
    {
        <tr>
            <td>@a.Nota</td>
            <td>@a.Comentario</td>
            <td>
                <a asp-action="editar" class="btn btn-outline-secondary"
               asp-route-id="@a.UsuarioId">Editar</a>
                <button onclick="UsuarioId.value = @a.UsuarioId" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>
            </td>
        </tr>
    }
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja remover?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input name="id" type="hidden" id="UsuarioId" />
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-outline-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>