@model List<CartaoCredito>

    @{
        ViewData["Title"] = "Cartões de crédito";
    }

    <h1>Cartões de crédito cadastrados</h1>

<mensagem mensagem="@TempData["msg"]"></mensagem>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Total</h5>
        <h6 class="card-subtitle mb-2 text-muted">Número total de cartões de créditos cadastrados no sistema.</h6>
        <p class="card-text">Cartões: @ViewBag.total</p>
    </div>
</div>


    <table class="table table-striped">
        <tr>
            <th>Número</th>
            <th>Titular</th>
            <th>CPF</th>
            <th>Usuário</th>
            <th>CVV</th>
            <th>Validade</th>
            <td>Bandeira</td>
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.NumeroCartao</td>
                <td>@c.NomeTitular</td>
                <td>@c.Documento</td>
                <td>@c.Usuario.Email</td>
                <td>@c.CVV</td>
                <td>@c.Validade</td>
                <td>@c.Bandeira</td>
                <td>
                <a asp-action="editar" class="btn btn-outline-secondary"
               asp-route-id="@c.CartaoCreditoId">Editar</a>
                <button onclick="CartaoCreditoId.value = @c.CartaoCreditoId" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>
                </td>
            </tr>
        }
    </table>

<form class="row row-cols-lg-auto g-3 mb-3 align-items-center">
    <div class="col-12">
        <input type="text" name="Pesquisa" class="form-control" placeholder="Digite o nome do titular" />
    </div>
    <div class="col-12">
        <button class="btn btn-secondary my-2 my-sm-0">Buscar</button>
    </div>
</form>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja remover?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input name="id" type="hidden" id="CartaoCreditoId" />
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-outline-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>