@model Usuario

@{
    ViewData["Title"] = "Detalhar";
}


<h1>Usuário: @Model.Email</h1>


<h4>Ônibus</h4>

<form asp-action="adicionar" class="row row-cols-lg-auto g-3 mb-3 align-items-center">
    <input type="hidden" name="UsuarioId" value="@Model.UsuarioId" />
    <div class="col-12">
        <select name="OnibusId" class="form-select" asp-items="@ViewBag.onibus">
            <option>Selecione</option>
        </select>
    </div>
    <div class="col-12">
        <button class="btn btn-secondary my-2 my-sm-0">Adicionar</button>
    </div>
</form>

<mensagem mensagem="@TempData["msg"]"></mensagem>

<h3>Lista de Ônibus do Usuário</h3>


<table class="table table-striped">
    <tr>
        <th>Número</th>
        <th>Linha</th>
    </tr>
    @foreach (var i in ViewBag.listaon)
    {
        <tr>
            <td>@i.OnibusNumero</td>
            <td>@i.Linhatd>
        </tr>
    }
</table>