@model List<Usuario>

@{
    ViewData["Title"] = "Usuario";
}

<h1>Usuários</h1>

<mensagem mensagem="@TempData["msg"]"></mensagem>


<table class="table table-striped">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Telefone</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Nome</td>
            <td>@i.Email</td>
            <td>@i.Senha</td>
            <td>@i.Telefone</td>
            <td>@i.Cpf</td>
            <td>@i.DataNascimento</td>
            <td>
                <a asp-action="editar" class="btn btn-outline-secondary"
               asp-route-id="@i.UsuarioId">Editar</a>
                <button onclick="UsuarioId.value = @i.UsuarioId" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>
            </td>


        </tr>
    }
</table>

<form class="row row-cols-lg-auto g-3 mb-3 align-items-center">
    <div class="col-12">
        <input type="text" name="Pesquisa" class="form-control" placeholder="Digite um email" />
    </div>
    <div class="col-12">
        <button class="btn btn-secondary my-2 my-sm-0">Buscar</button>
    </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja remover?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input name="id" type="hidden" id="UsuarioId" />
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-outline-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>