@model List<Bilhete>

@{
    ViewData["Title"] = "Bilhetes";
}

<h1>Bilhetes cadastrados</h1>

<mensagem mensagem="@TempData["msg"]"></mensagem>

<table class="table table-striped">
    <tr>
        <th>Número</th>
        <th>Titular</th>
        <th>Valor</th>
        <th>Tipo</th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.NumeroBilhete</td>
            <td>@b.NomeTitular</td>
            <td>@b.Valor</td>
            <td>@b.TipoBilhete</td>
            <td>
                <a asp-action="editar" class="btn btn-outline-secondary"
               asp-route-id="@b.BilheteId">Editar</a>
                <button onclick="UsuarioId.value = @b.BilheteId" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>

            </td>
        </tr>
    }
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja remover?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input name="id" type="hidden" id="BilheteId" />
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-outline-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>
