@model List<Bilhete>

@{
    ViewData["Title"] = "Bilhetes";
}

<h1>Bilhetes cadastrados</h1>

<mensagem mensagem="@TempData["msg"]"></mensagem>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Total</h5>
        <h6 class="card-subtitle mb-2 text-muted">Número total bilhetes cadastrados no sistema.</h6>
        <p class="card-text">Bilhetes: @ViewBag.total</p>
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>Número</th>
        <th>Titular</th>
        <th>Valor</th>
        <th>Tipo</th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.NumeroBilhete</td>
            <td>@b.NomeTitular</td>
            <td>@b.Valor</td>
            <td>@b.TipoBilhete</td>
            <td>
                <a asp-action="editar" class="btn btn-outline-secondary"
               asp-route-id="@b.BilheteId">Editar</a>
                <button onclick="UsuarioId.value = @b.BilheteId" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>

            </td>
        </tr>
    }
</table>

<form class="row row-cols-lg-auto g-3 mb-3 align-items-center">
    <div class="col-12">
        <input type="text" name="Pesquisa" class="form-control" placeholder="Digite o nome do titular" />
    </div>
    <div class="col-12">
        <button class="btn btn-secondary my-2 my-sm-0">Buscar</button>
    </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja remover?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input name="id" type="hidden" id="BilheteId" />
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-outline-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>
